<div class="navbar navbar-fixed-bottom">
  <div id="myCarousel"class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
          <div class="active item">
            
            <div class="center">
                  <h3>Share images with the world!</h3>
                  <p>It doesn't matter what you upload, just make sure that it's age appropriate and fun.</p>
            </div>
          </div>

          <div class="item">
            
            <div class="center">
                  <h3>Coming Soon &reg;: Profile pages with favorited pins!</h3>
                  <p>Soon &reg; may be sooner than you think :) </p>
            </div>       
          </div>

          <div class="item">
           
            <div class="center">
                  <h3>Coming Soon &reg;: Commenting on pins!</h3>
                  <p>I'll make it happen I promise</p>
            </div>
          </div>
  </div>
  <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>
</div>